
.products-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;

}
.addition-button-submit {
    display: block;
    padding: 8px 32px;
    border: none;
    background-color: orange;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

.contents {
    display: grid;
    grid-template-rows: 300px 300px;
    grid-template-columns: 1fr 1fr 2fr;
}

.search-contents {
    grid-column: 1/2;
    grid-row: 1/2;
}

.search-window__input {
    width: 280;
    height: 148;
    left: 410px;
    border-width: 1px;
    border-radius: 30px;
}

.search-button-submit {
    width: 280;
    height: 148;
    left: 410px;
    border-radius: 5px;
    border-width: 1px;
    background-color: orange;
    color: black;
}

.goods {
    grid-column: 2/4;
    grid-row: 1/3;
}

.fruits {
    display: flex;
    flex-wrap: wrap-reverse;
}

.card {
    width: 360px;
    margin: 100px auto 0;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}
.card__img img {
    width: 100%;
}

.card__content-ttl {
    display: flex;
    justify-content: space-between;
}